@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}
.card {
    &:hover {
        .icon {
            @apply rotate-[10deg] scale-125 transition-all;
        }
    }
}

.testimonial {
    display: grid;
    grid-template-columns: 500px 300px 300px;
    grid-template-rows: 300px;
}
main > div,
.products > div,
.products > div > div,
.pricing {
    animation: open 1s;
    /* transform: translateY(300px); */
}
.cards,
.buttons, footer{
    animation: open 1.4s ease-in-out;
}
@keyframes open {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100;
    }
}

header {
    animation: header 1s ease-in-out;
}
@keyframes header {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100;
    }
}

.page-style {
    @apply w-full py-5 flex items-center justify-center flex-col gap-10;
}
